*{
    font-family: "MartelSans", sans-serif;
}
#root {
    display:flex;
    flex-wrap: wrap;
}

details {
  min-width: 300px;
  margin: 10px auto 0;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left;
  position: relative;
  border-radius: 3px;
  align-self: flex-start; 
}

details > summary > span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

summary .key {
    font-weight: 600;
    text-align: center;
    margin: -1em -1em 0;
    padding: 0em;
}

summary .value {
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.parent-wrapper {
    margin: .5%;
}

.parent-wrapper .parent {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

